<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item active" aria-current="page"> Empleados </li>
        </ol>
    </nav>

    <h1 class="mb-4"> Empleados </h1>

    <div class="d-grid gap-2 d-md-block">
        {{!-- Nuevo Empleado Modal --}}
        <a href="#newEmpleado" class="btn btn-success" data-toggle="modal">
            <i class="fas fa-plus-square mr-2"></i> Nuevo
        </a>
    </div>


    <div class="container-fluid mt-5">
        <div class="card shadow mb-4">
            {{> persona/empleados/list-empleados }}
        </div>
    </div>
</div>


{{!-- Modales --}}
{{!-- Agregar Empleados --}}
{{> persona/empleados/add }}
{{> persona/empleados/edit }}

{{!-- Scripts SRC --}}
<script src="/js/persona/empleados.js"></script>

{{!-- Script de Select de Ciudad Dinamico --}}
<script src="/js/ciudad.js"></script>

{{!-- Level Custom --}}
<script src="/js/datatables/data-empleados.js"></script>