<div class="container">
    <h1 class="mb-4"> Accesorios </h1>

    <div class="d-grid gap-2 d-md-block">
        {{!-- Nueva Accesorio Modal --}}
        <a href="#newArticuloAccesorio" class="btn btn-success" data-toggle="modal">
            <i class="fas fa-plus-square mr-2"></i> Nuevo
        </a>
        <button class="btn btn-danger" type="button">
            <i class="fas fa-file-pdf"></i> Reporte
        </button>
    </div>


    <div class="container-fluid mt-5">
        <div class="card shadow mb-4">
            {{> accesorio/list-accesorio }}
        </div>
    </div>
</div>


{{!-- Modales --}}
{{!-- Agregar Accesorio --}}
{{> accesorio/add }}

{{!-- Scripts SRC --}}


<script src="/js/items/accesorio.js"></script>
{{!-- Level Custom --}}
<script src="/js/datatables/data-articulo-accesorio.js"></script>