<div class="container">
    <h1 class="mb-4"> Calzado </h1>

    <div class="d-grid gap-2 d-md-block">
        {{!-- Nueva Calzado Modal --}}
        <a href="#newArticuloCalzado" class="btn btn-success" data-toggle="modal">
            <i class="fas fa-plus-square mr-2"></i> Nuevo
        </a>
    </div>


    <div class="container-fluid mt-5">
        <div class="card shadow mb-4">
            {{> calzado/list-calzado }}
        </div>
    </div>
</div>


{{!-- Modales --}}
{{!-- Agregar Calzado --}}
{{> calzado/add }}
{{> calzado/edit }}

{{!-- Scripts SRC --}}


<script src="/js/items/calzado.js"></script>
{{!-- Level Custom --}}
<script src="/js/datatables/data-articulo-calzado.js"></script>