<div class="container">
    <h1 class="mb-4"> Colores </h1>

    <div class="d-grid gap-2 d-md-block">
        {{!-- Nueva Color Modal --}}
        <a href="#newColor" class="btn btn-success" data-toggle="modal">
            <i class="fas fa-plus-square mr-2"></i> Nuevo
        </a>
        <button class="btn btn-danger" type="button">
            <i class="fas fa-file-pdf"></i> Reporte
        </button>
    </div>


    <div class="container-fluid col-lg-8 mx-auto mt-4">
        <div class="card shadow mb-4">
            {{> colores/list-colores }}
        </div>
    </div>
</div>


{{!-- Modales --}}
{{!-- Agregar Marca --}}
{{> colores/add }}


{{!-- Scripts SRC --}}
<script src="/js/colores/colores.js"></script>
{{!-- Level Custom --}}
<script src="/js/datatables/data-colores.js"></script>
