<!-- Modal HTML -->
<div id="newCliente" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">AGREGAR NUEVO CLIENTE</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/persona/clientes/new" method="post" id="clientes_form">
                    <label> Datos Generales </label>
                    <div class="form-group">
                        <div class="form-group">
                            <input type="text" class="form-control" name="id_persona" placeholder="R.T.N." id="id-cliente" maxlength="14" required autofocus>
                            <div id="msg-valid" class="valid-feedback"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <input type="text" class="form-control to-mayus" name="nombre_persona" placeholder="Nombre"
                                onkeyup="javascript:this.value=this.value.toUpperCase();" maxlength="50" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <input type="text" class="form-control to-mayus" name="apellido_persona"
                                placeholder="Apellidos" onkeyup="javascript:this.value=this.value.toUpperCase();"
                                maxlength="50" required>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col-lg-6 mt-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexo" id="inlineRadio1" value="0"
                                    required>
                                <label class="form-check-label" for="inlineRadio1"> Masculino </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexo" id="inlineRadio2" value="1">
                                <label class="form-check-label" for="inlineRadio2"> Femenino </label>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" class="form-control" name="celular" placeholder="Celular" required
                                maxlength="8" pattern="[0-9]{8}">
                        </div>
                    </div>

                    <label> Datos de Residencia </label>
                    <div class="form-group">
                        <div class="form-group">
                            <textarea class="form-control" name="direccion_residencia" id="" cols="30" rows="2"
                                placeholder="Direccion de Residencia" maxlength="200" required></textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6" id="tipo">
                            <select id="depto" name="id_depto" class="custom-select depto">
                                <option value="0" selected> - Departamento - </option>
                                {{#each departamentos}}
                                <option value="{{ID_DEPTO}}"> {{NOMBRE_DEPTO}} </option>
                                {{/each}}
                            </select>
                            <div id="depto-valid" class="valid-feedback"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <select id="ciudad" name="id_ciudad" class="custom-select ciudad">
                                <option value="0" selected> - Ciudad - </option>
                            </select>
                            <div id="ciudad-valid" class="valid-feedback"></div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary mt-4 float-right">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>