<div class="dash-nav dash-nav-dark">
    <header>
        <a href="/dashboard" class="menu-toggle">
            <i class="fas fa-bars"></i>
        </a>
        <a href="/dashboard" class="spur-logo">
            <box-icon name='shopping-bag' class="mr-2" type='solid' color='#fffafa'></box-icon>
            <span class="logo-name">Magistral Store</span>
        </a>

    </header>

    <nav class="dash-nav-list text-nav">
        <a href="/dashboard" class="dash-nav-item">
            <i class="fas fa-home"></i> Dashboard </a>
       
        <div class="dash-nav-dropdown ">
            <a href="#" class="dash-nav-item dash-nav-dropdown-toggle">
                <i class="fas fa-tag"></i> Artículos </a>
            <div class="dash-nav-dropdown-menu">
                <a href="/articulos" class="dash-nav-dropdown-item">Ítems</a>
                <a href="/articulos/colores" class="dash-nav-dropdown-item">Colores</a>
                <div class="dash-nav-dropdown">
                    <a href="#" class="dash-nav-dropdown-item dash-nav-dropdown-toggle">Tipos Articulo</a>
                    <div class="dash-nav-dropdown-menu">
                        <a href="/articulos/tipos/ropa" class="dash-nav-dropdown-item">Tipo Ropa</a>
                        <a href="/articulos/tipos/calzado" class="dash-nav-dropdown-item">Tipo Calzado</a>
                        <a href="/articulos/tipos/accesorios" class="dash-nav-dropdown-item">Tipo Accesorio</a>
                    </div>
                </div>
                <a href="/articulos/marcas" class="dash-nav-dropdown-item">Marcas</a>
                <a href="/articulos/proveedores" class="dash-nav-dropdown-item">Proveedores</a>
            </div>
        </div>
        <div class="dash-nav-dropdown">
            <a href="#" class="dash-nav-item dash-nav-dropdown-toggle">
                <i class="fas fa-users"></i> Personas </a>
            <div class="dash-nav-dropdown-menu">
                <a href="/persona/empleados" class="dash-nav-dropdown-item">Empleados</a>
                <a href="/persona/clientes" class="dash-nav-dropdown-item">Clientes</a>
            </div>
        </div>
        <div class="dash-nav-dropdown">
            <a href="#" class="dash-nav-item dash-nav-dropdown-toggle">
                <i class="fas fa-dollar-sign"></i> Facturación </a>
            <div class="dash-nav-dropdown-menu">
                <a href="/transacciones/facturar" class="dash-nav-dropdown-item">Facturar</a>
                <a href="/transacciones/comprar" class="dash-nav-dropdown-item">Comprar</a>
                <a href="/transacciones/metodos-pago" class="dash-nav-dropdown-item">Metodos de Pago</a>
            </div>
        </div>
         <div class="dash-nav-dropdown">
            <a href="#" class="dash-nav-item dash-nav-dropdown-toggle">
                <i class="fas fa-chart-bar"></i> Analíticas </a>
            <div class="dash-nav-dropdown-menu">
                <a href="#" class="dash-nav-dropdown-item">Analiticas</a>
            </div>
        </div>
        <div class="dash-nav-dropdown">
            <a href="#" class="dash-nav-item dash-nav-dropdown-toggle">
                <i class="fas fa-tools"></i> Configuración </a>
            <div class="dash-nav-dropdown-menu">
                <a href="/config/categoria-laboral" class="dash-nav-dropdown-item">Categorias laborales</a>
                <a href="/config/usuarios" class="dash-nav-dropdown-item">Usuarios</a>
            </div>
        </div>
    </nav>
</div>
