<!-- Modal HTML -->
<div id="newMarca" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">AGREGAR NUEVA MARCA</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="/articulos/marcas/new" method="post">
          <label> Datos de Marca </label>
          <div class="form-group">
            <input type="text" class="form-control to-mayus" onkeyup="javascript:this.value=this.value.toUpperCase();" name="nombre_marca" 
            placeholder="Nuevo Marca" maxlength="15" required>
          </div>
          
          <button type="submit" class="btn btn-primary mt-4 float-right">
            <i class="fas fa-save"></i> Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>