<div class="modal fade" id="editMarca" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Marca</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="edit-marca" name="edit-marca">

                    <label> Datos de Marca </label>
                    <div class="form-group">
                        <div class="form-group">
                             <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" class="form-control to-mayus" id="nombre_marca" name="nombre_marca" placeholder="Marca del Producto"
                                autofocus maxlength="15" required>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary mt-4 float-right">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>