* {
  font-family: "Inter";
}

.logo-name {
  font-size: 1rem;
}

.text-nav {
  font-size: 0.95rem;
}

.modal {
  color: black;
}

.to-mayus {
  text-transform: uppercase;
}

.swal2-popup {
  font-size: 0.8rem !important;
  font-weight: 500 !important;
}