<div class="modal fade" id="editTipoAccesorio" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Tipo de Accesorio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="edit-tipoAccesorio" name="edit-tipoAccesorio">

                    <label> Datos de Tipo de Accesorio </label>
                    <div class="form-group">
                        <div class="form-group">
                            <input type="text" class="form-control to-mayus"
                                onkeyup="javascript:this.value=this.value.toUpperCase();" name="desc_tipoaccesorio" id="desc_tipoaccesorio"
                                placeholder="Nuevo tipo de Accesorio" maxlength="20" required>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary mt-4 float-right">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>