<div class="container">
    <h1 class="mb-4"> Tipos de Calzado </h1>

    <div class="d-grid gap-2 d-md-block">
        {{!-- Nueva Tipo Calzado Modal --}}
        <a href="#newTipoCalzado" class="btn btn-success" data-toggle="modal">
            <i class="fas fa-plus-square mr-2"></i> Nuevo
        </a>
    </div>


    <div class="container-fluid col-lg-8 mx-auto mt-4">
        <div class="card shadow mb-4">
            {{> tipos/calzado/list-calzado }}
        </div>
    </div>
</div>


{{!-- Modales --}}
{{!-- Agregar Marca --}}
{{> tipos/calzado/add }}
{{> tipos/calzado/edit }}

{{!-- Scripts SRC --}}
<script src="/js/tipos/calzado.js"></script>

{{!-- Level Custom --}}
<script src="/js/datatables/data-calzado.js"></script>
