<!-- Modal HTML -->
<div id="newProveedorFromCompras" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">AGREGAR NUEVO PROVEEDOR</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <label> Datos de Proveedor </label>
                    <div class="form-group">
                        <input type="text" class="form-control" name="id_proveedor" placeholder="R.T.N." id="rtn" autofocus maxlength="14" required>
                        <div id="msg-valid" class="valid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre_proveedor" placeholder="Proveedor" maxlength="50" id="nproveedor"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email_proveedor" placeholder="Email" id="emailproveedor" maxlength="45" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="cel_proveedor" placeholder="Celular" id="celproveedor" maxlength="8" pattern="[0-9]{8}" required>
                    </div>


                    <button type="submit" id="newProveedorCompras" class="btn btn-primary mt-4 float-right">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

