<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4">

            <div class="stats stats-dark">
                <h3 class="stats-title"> Nuevos Clientes </h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">114</div>
                        <div class="stats-change">
                            <span class="stats-timeframe">Total Clientes</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="stats stats-success">
                <h3 class="stats-title"> Ventas Mensuales </h3>
                <div class="stats-content">
                    <div class="stats-icon">
                        <i class="fas fa-cart-arrow-down"></i>
                    </div>
                    <div class="stats-data">
                        <div class="stats-number">$25,541</div>
                        <div class="stats-change">
                            <span class="stats-timeframe">Ventas del ultimo mes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header">
                    Bienvenido @user
                </div>
                <div class="card-body">
                    <h5 class="card-title">Tiene privilegios de @admin, @ventas, ...</h5>
                    <p class="card-text">Revisa las ultimas actulizaciones y estado de la tienda.</p>
                    <button class="btn btn-primary btn-sm"> Empezar </button>
                </div>
            </div>

            <div class="card spur-card">
                <div class="card-header">
                    <div class="spur-card-icon">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                    <div class="spur-card-title"> Facturacion Diaria </div>
                </div>
                <div class="card-body spur-card-body-chart">
                   <!-- Aqui va el Script de ChartJS -->
                </div>
            </div>
        </div>
    </div>
</div>