<div class="modal fade" id="editCatLaboral" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Categoria Laboral</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="edit-catLaboral" name="edit-catLaboral">

                    <label> Datos Categoria Laboral </label>
                    <div class="form-group">
                        <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();"
                            class="form-control to-mayus" name="descripcion_categoria" placeholder="Descripción"
                            id="descripcion_categoria" required>
                    </div>
                    <div class="form-group">
                        <input type="number" min="0" step="0.01" class="form-control" name="salario"
                            placeholder="Salario" id="salario">
                    </div>


                    <button type="submit" class="btn btn-primary mt-4 float-right">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>