<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Listado de Colores</h6>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataColores" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Color</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Color</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                {{#each color_articulo}}
                <tr>
                    <td> {{ID_COLOR}} </td>
                    <td> {{DESC_COLOR}} </td>
                    <td class="text-center">
                        <button class="btn btn-primary editColor" data-toggle="modal" data-target="#editColor"
                            data-color="{{ID_COLOR}}">
                            <i class="fas fa-pen"></i>
                        </button>
                        <a href="/articulos/colores/delete/{{ID_COLOR}}" class="btn btn-danger del-item">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>